body {
  background-color: rgb(142, 168, 119);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 10px;
}
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}
.first {
  color: rgb(11, 42, 42);
}
.second {
  color: greenyellow;
}
#your-name {
  background-color: rgb(89, 141, 89);
  border: 3px solid rgba(1, 5, 2, 0.267);
  padding: 10px;
  margin-top: 10px;
}
input,
button {
  padding: 10px;
  font-size: 15px;
}
img {
  width: 300px;
  height: 300px;
}
